body {
    background-color: rgb(20, 60, 30);
}

logo {
    background-color: rgb(0, 120, 40);
    border-width: 5px;
    border-color: rgb(20, 100, 20);
    border-style: solid;
    border-radius: 10px;
}

header {
    background-color: rgb(0, 120, 40);
    border-width: 5px;
    border-color: rgb(20, 100, 20);
    border-style: solid;
    border-radius: 10px;
}

nav {
    background-color: rgb(0, 120, 40);
    border-width: 5px;
    border-color: rgb(20, 100, 20);
    border-style: solid;
    border-radius: 10px;
}

main {
    background-color: rgb(0, 120, 40);
    border-width: 5px;
    border-color: rgb(20, 100, 20);
    border-style: solid;
    border-radius: 10px;
}

aside {
    background-color: rgb(0, 120, 40);
    border-width: 5px;
    border-color: rgb(20, 100, 20);
    border-style: solid;
    border-radius: 10px;
}

footer {
    background-color: rgb(0, 120, 40);
    border-width: 5px;
    border-color: rgb(20, 100, 20);
    border-style: solid;
    border-radius: 10px;
}

p {
    color: white;
    font: times;
    font-size: medium;
}

h2 {
    color: rgb(200, 215, 215);
    font: times;
    font-size: larger;
}

h1 {
    color: rgb(200, 215, 215);
    font: times;
    font-size: xx-large;
}

img {
    width: 100%;
}

a {
    color: rgb(180, 195, 195);
    font: times;
    font-size: large;
}